<div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
  <h1>User Registration Form</h1>
  <%= form_with model: @user, url: users_path, class: 'bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4' do |f| %>
    <div>
      <%= f.label :full_name, class: "block text-gray-700 text-sm font-bold mb-2" %>
      <%= f.text_field :name, class: 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline', required: true %>
    </div>
    <div>
      <%= f.label :email, class: "block text-gray-700 text-sm font-bold mb-2" %>
      <%= f.email_field :email, class: 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline', required: true %>
    </div>
    <div>
      <%= f.label :password, class: "block text-gray-700 text-sm font-bold mb-2" %>
      <%= f.password_field :password, class: 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline', required: true %>
    </div>
    <div>
      <%= f.label :country_code, "Country", class: "block text-gray-700 text-sm font-bold mb-2" %>
      <%= f.country_select :country_code, { class: 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline' }, required: true %>
    </div>
    <div class="mt-2">
      <%= f.submit 'Register', class: 'bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline' %>
    </div>
    <p class="text-center text-gray-500 text-xs">Or <%= link_to "Sign in", new_session_path, class: "inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800" %></p>
  <% end %>
</div>
