<h1>User Registration Form</h1>
<%= form_with model: @user, url: users_path, class: 'max-w-md mx-auto' do |f| %>
  <div>
    <%= f.label :full_name %>
    <%= f.text_field :name, class: 'form-input' %>
  </div>
  <div>
    <%= f.label :email %>
    <%= f.email_field :email, class: 'form-input' %>
  </div>
  <div>
    <%= f.label :password %>
    <%= f.password_field :password, class: 'form-input' %>
  </div>
  <div>
    <%= f.label :country_code, "Country" %>
    <%= f.country_select :country_code, { class: 'form-input' } %>
  </div>
  <div>
    <%= f.submit 'Register', class: 'btn' %>
  </div>
  <p>Or <%= link_to "Sign in", new_session_path, class: "text-dark" %></p>
<% end %>
