<!DOCTYPE html>
<html>
  <head>
    <title>Headline</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <!-- Page header -->
    <header class="bg-gray-800 py-4">
      <div class="container mx-auto px-4 flex justify-between">
        <h1 class="text-4xl font-bold text-white">Headlines</h1>
        <div class="flex justify-between">
          <% if signed_in? %>
            <p class="text-4xs text-white"><%= current_user.name %></p>
            <p> <%= link_to "Sign out", session_path(current_user), data: {turbo_method: :delete}, class: "text-white ml-2" %></p>
          <% else %>
            <h5><%= link_to "Sign Up", new_user_path, class: "text-white" %></h5>
            <h5><%= link_to "Sign in", new_session_path, class: "text-white" %></h5>
          <% end %>
        </div>
      </div>
    </header>
    <% if flash[:success] %>
      <div class="flash flash-success">
        <%= flash[:success] %>
      </div>
    <% elsif flash[:error] %>
      <div class="flash flash-success">
        <%= flash[:error] %>
      </div>
    <% end %>
    <main class="container mx-auto mt-28 px-5 flex">
      <%= yield %>
    </main>
  </body>
</html>
